<!DOCTYPE html>
<html>
<head>
  <title>RailsAssessment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<html>
<head>
	<title>My Blogs</title>
</head>
</body>
	<h1>Hello World!</h1>
	<body>
		<html/>
<%= yield %>

</body>
</html>
